<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hm.com.dao.CourseToStudentMapper">
  <resultMap id="BaseResultMap" type="hm.com.bean.CourseToStudent">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="student_id" jdbcType="INTEGER" property="studentId" />
    <result column="course_to_teacher_id" jdbcType="INTEGER" property="courseToTeacherId" />
  </resultMap>
  <resultMap id="BaseResultMapWithCourseAndTeacher" type="hm.com.bean.CourseToStudent">
    <id column="csid" jdbcType="INTEGER" property="id" />
    <result column="student_id" jdbcType="INTEGER" property="studentId" />
    <result column="course_to_teacher_id" jdbcType="INTEGER" property="courseToTeacherId" />
    <association property="teacher" javaType="hm.com.bean.Teacher">
      <result column="college_id" jdbcType="INTEGER" property="collegeId" />
      <result column="tname" jdbcType="VARCHAR" property="name" />
      <result column="sex" jdbcType="BIT" property="sex" />
      <result column="email" jdbcType="VARCHAR" property="email" />
      <result column="phone" jdbcType="VARCHAR" property="phone" />
      <result column="address" jdbcType="VARCHAR" property="address" />
    </association>
    <association property="course" javaType="hm.com.bean.Course">
      <id column="cid" jdbcType="INTEGER" property="id" />
      <result column="cname" jdbcType="VARCHAR" property="name" />
      <result column="college_id" jdbcType="INTEGER" property="collegeId" />
      <result column="class_hour" jdbcType="INTEGER" property="classHour" />
      <result column="score" jdbcType="INTEGER" property="score" />
      <result column="required" jdbcType="BIT" property="required" />
    </association>
  </resultMap>
  <resultMap id="BaseResultMapWithStudent" type="hm.com.bean.CourseToStudent">
    <id column="csid" jdbcType="INTEGER" property="id" />
    <result column="ggrade" jdbcType="INTEGER" property="grade" />
    <result column="student_id" jdbcType="INTEGER" property="studentId" />
    <result column="course_to_teacher_id" jdbcType="INTEGER" property="courseToTeacherId" />
    <association property="student" javaType="hm.com.bean.Student">
      <id column="sid" jdbcType="INTEGER" property="id" />
      <result column="scollege_id" jdbcType="INTEGER" property="collegeId" />
      <result column="sname" jdbcType="VARCHAR" property="name" />
      <result column="sphone" jdbcType="VARCHAR" property="phone" />
      <result column="semail" jdbcType="VARCHAR" property="email" />
      <result column="ssex" jdbcType="BIT" property="sex" />
      <result column="sid_card" jdbcType="VARCHAR" property="idCard" />
    </association>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, student_id, course_to_teacher_id
  </sql>
  <select id="selectByExample" parameterType="hm.com.bean.CourseToStudentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from course_to_student
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
<!--  List<CourseToStudent> selectByExampleWithCourseAndTeacher(Integer studentId);-->
  <select id="selectByExampleWithCourseAndTeacher" resultMap="BaseResultMapWithCourseAndTeacher">
    SELECT c.*,t.*,c.name as cname,t.name as tname,c.id as cid, cs.id as csid
    FROM course_to_student cs
    LEFT JOIN course_to_teacher ct
    ON cs.course_to_teacher_id = ct.id
    LEFT JOIN course c
    ON ct.course_id = c.id
    LEFT JOIN teacher t
    ON ct.teacher_id = t.id
    WHERE cs.student_id = #{studentId}
  </select>
<!--  List<CourseToStudent> selectStudentByC2tId(@Param("c2tId")Integer c2tId);-->
<!--  添加成绩信息-->
  <select id="selectStudentByC2tId" resultMap="BaseResultMapWithStudent">
    SELECT s.id as sid,s.college_id as scollege_id,s.name as sname,s.phone as sphone,s.email as semail,g.grade as ggrade,
    s.sex as ssex,s.id_card as sid_card
    FROM course_to_student cs
    LEFT JOIN student s
    ON cs.student_id = s.id
    LEFT JOIN course_to_teacher ct
    ON ct.id = cs.course_to_teacher_id
    LEFT JOIN grade g
    ON s.id = g.student_id and g.course_id = ct.course_id
    WHERE ct.id = #{c2tId}
    and s.id is not null
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from course_to_student
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from course_to_student
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="hm.com.bean.CourseToStudentExample">
    delete from course_to_student
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="hm.com.bean.CourseToStudent">
    insert into course_to_student (id, student_id, course_to_teacher_id
      )
    values (#{id,jdbcType=INTEGER}, #{studentId,jdbcType=INTEGER}, #{courseToTeacherId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="hm.com.bean.CourseToStudent">
    insert into course_to_student
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="studentId != null">
        student_id,
      </if>
      <if test="courseToTeacherId != null">
        course_to_teacher_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="studentId != null">
        #{studentId,jdbcType=INTEGER},
      </if>
      <if test="courseToTeacherId != null">
        #{courseToTeacherId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="hm.com.bean.CourseToStudentExample" resultType="java.lang.Long">
    select count(*) from course_to_student
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update course_to_student
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.studentId != null">
        student_id = #{record.studentId,jdbcType=INTEGER},
      </if>
      <if test="record.courseToTeacherId != null">
        course_to_teacher_id = #{record.courseToTeacherId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update course_to_student
    set id = #{record.id,jdbcType=INTEGER},
      student_id = #{record.studentId,jdbcType=INTEGER},
      course_to_teacher_id = #{record.courseToTeacherId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="hm.com.bean.CourseToStudent">
    update course_to_student
    <set>
      <if test="studentId != null">
        student_id = #{studentId,jdbcType=INTEGER},
      </if>
      <if test="courseToTeacherId != null">
        course_to_teacher_id = #{courseToTeacherId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="hm.com.bean.CourseToStudent">
    update course_to_student
    set student_id = #{studentId,jdbcType=INTEGER},
      course_to_teacher_id = #{courseToTeacherId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>